*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        200deg,
         #872657,
         #550A35,
         #E38AAE
         
    
 );
}
.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 17%;
    left: 50%;
		background: white;
		border-radius: 10px;

}

#addtask{
    position: relative;
    padding: 30px 20px;
}
#addtask input{
    width: 75%;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#addtask input:focus{
    outline: none;
    border-color:  #550A35;
}

#addtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #550A35;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
#div_main{
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 15%;
    border-radius: 10px;
    width: 40%;
    margin-left: 30%;
    
}
.task{
    background-color:#f5d1e5;
    height: 50px;
		margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
		border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
}
#clear{
    margin-left: 46%;
    background-color: rgb(218, 7, 7);
    color: white;
    font-size: large;
    border-style: none;
    padding: 5px;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
}
.check_box{
    
    width:30px;
    height:30px;
}
 input[type="checkbox"]:checked{
    text-decoration: line-through;
    
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.delete{
    background-color:  rgb(218, 7, 7);
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .mark {
    margin-top: -13px;
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    border: 2px solid white;
}
.checkbox-label input:checked ~ .mark {
    background-color: green;
    border-radius: 5px;
    transform: rotate(0deg) scale(1);
    opacity:1;
    text-decoration: line-through;
    border: 2px solid white;

}
.checkbox-label .mark::after {
    position: absolute;
    content: "";
    text-decoration: line-through;
    border-radius: 5px;
}
.checkbox-label input:checked ~ .mark::after {
  transform: rotate(45deg) scale(1);
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  border-radius: 0;
}
.checkbox-label .mark::before {
    position: absolute;
    content: "";
    border-radius: 10px;
    border: 5px solid yellow;
    transform: scale(0);    
}

.checkbox-label input:checked ~ .mark::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    transform: scale(3);
    opacity:0;   
    transition: all 0.3s ease-out;
}
